<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Watsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>All Chats</h2>
    <form action="chats/new" method="GET">
        <button>
            New
        </button>
    </form>
    <br>
    <% for(let chat of chats){ %>
        <div class="chat">
            <p> From : <%= chat.from %></p>
        <div class="msg">
            <p>Message: <%= chat.msg %></p>
            <form method="GET"  action="/chats/<%= chat._id %>/edit">
                <button>Edit</button>
            </form>
            <hr>
            <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
                <button>Delete</button>
            </form>
            <hr>
        </div>
        <p>Recieved by: <%= chat.to  %></p>
        <hr>
        <p> <b>Time: </b><%= chat.reached_at.toString().split(" ")[4] %></p>
        <p> <b>Date: </b><%= chat.reached_at.toString().split(" ").slice(0,4).join("-") %></p>
    </div>
    <br><br>

    <% } %>
</body>
</html>